<div class="flex justify-center">
  <div class="w-full md:w-1/2 4 pt-8">
      <section class="text-center bg-gray-800 rounded-lg p-8">
          <h2 class="text-5xl font-semibold text-white mb-4">Welcome to Clipz</h2>
          <ul class="text-left text-gray-300 text-xl">
              <li>Clipz is more than just a video sharing application; it's a dynamic platform designed for enthusiasts, gamers, creators, and everyone in between.</li>
              <li class="mt-4"><b>1. Seamless User Experience:</b> Clipz is built with Angular and AngularFire, providing a smooth and intuitive interface for users to navigate effortlessly. </li>
              <li class="mt-4"><b>2. Real-time Updates:</b> With RxJS integration, Clipz ensures real-time updates, keeping users engaged with the latest content as it happens. </li>
              <li class="mt-4"><b>3. Powerful Video Processing:</b> Leveraging the capabilities of ffmpeg, Clipz enables users to retrieve screenshots from video/mp4 files, enhancing the viewing experience and adding depth to shared content. </li>
              <li class="mt-4"><b>4. Versatile Video Playback: </b>Utilizing Video.js, Clipz offers a robust video playback feature, supporting various video formats and ensuring high-quality streaming for all users. </li>
              <li class="mt-4"><b>5. Mean Stack Integration: </b> Seamlessly combining Angular with the Mean stack, Clipz provides a comprehensive solution for managing user accounts, clips, and other videos with ease. </li>
              <li class="mt-4"><b>6. Personalized Content Management: </b> Users can effortlessly manage their existing clips and explore a vast library of videos tailored to their interests, thanks to Clipz's intuitive content management system. </li>
              <li class="mt-4">Whether you're a gaming aficionado sharing your latest conquests or a creative mind showcasing your artistic talents, Clipz is the ultimate destination for sharing and discovering captivating video content. Join the Clipz community today and experience the future of video sharing.</li>
          </ul>
      </section>
  </div>
</div>