<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/">Clipz</a>
  
      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks ">
            <a class="px-2" href="#" (click)="OpenModal($event)">Login / Register</a>
          </li>
          <ng-template #authLinks>
            <li routerLinkActive="text-indigo-400"
                [routerLinkActiveOptions]="{exact: true}"
               
            >
              <a class="px-2" routerLink='/manage' href=""  [queryParams] = "{ sort: '1' }">Manage</a>
            </li>
            <li routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <a class="px-2" routerLink="/uploads">Upload</a>
            </li>
          </ng-template> 
          <li routerLinkActive="text-indigo-400">
            <a class="px-2" routerLink='/about'>About</a>
          </li>

          <li *ngIf="auth.isAuthenticated$ | async">
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded justify-end" href="#" (click)="auth.logOut($event)">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
